<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> <i class="fas fa-envelope-open-text ion-margin-end"></i>Email Verification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <mat-card class="ion-text-center"> 
          <mat-card-header>
            <mat-card-title class="ion-text-center">Check your Email for account confirmation</mat-card-title>
          </mat-card-header>
          <mat-card-content>

            <ion-row>
              <ion-col size="12">
                <ion-button shape="round" expand="full" ion-activatable ripple-parent routerLink="/login">
                  Login
                </ion-button>
              </ion-col>

            </ion-row>
            <ion-row>
              <ion-col size="12">
                <a mat-button routerLink="/register">Register</a>
              </ion-col>
              
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <a mat-button (click)="authService.SendVerificationMail()">Resend verification email</a>
              </ion-col>
              
            </ion-row>

          </mat-card-content>

        </mat-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>