

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title style="margin-left: 0px; padding-left: 0px;"> Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title> <i class="fal fa-bullhorn fa-lg"></i> CMA Alerts</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <swiper [config]="config" [cubeEffect]>
              <ng-template swiperSlide *ngFor="let cma_alerts of cma_alerts">
                <div >
                        <ion-card-title>{{ cma_alerts.data.item_name }}</ion-card-title>
                        <ion-card-subtitle><i>{{ cma_alerts.data.time_recorded | date }}</i></ion-card-subtitle>
                          <ion-row>
                            <ion-col>
                              <p [ngClass]="{'limitTextHeight': isReadMore}">{{ cma_alerts.data.item_description }} </p>
                            </ion-col>
                          </ion-row>
                            <mat-card-actions>
                              <button mat-button color="primary" type="button" (click)="showText()">{{ isReadMore ? 'Read More': 'Read Less' }}</button>
                            </mat-card-actions>
              </div>
              </ng-template>
            </swiper>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <mat-tab-group mat-stretch-tabs headerPosition="above" >  
          <mat-tab>
            <ng-template mat-tab-label>
              <span (click)="LoadNewsFeed();"><i class="fal fa-newspaper fa-lg ion-margin-end"></i> News</span>
            </ng-template>
    
            <ion-row>
              <ion-col size-lg>
                <mat-chip-list aria-label="News selection">
                  <mat-chip (click)="LoadNewsFeed();">The Financials</mat-chip>
                  <mat-chip (click)="LoadNewsFeedMarketsCategory();">The Market</mat-chip>
                  <mat-chip (click)="LoadNewsFeedBusinessCategory();">Business</mat-chip>
                  
                </mat-chip-list>
              </ion-col>
            </ion-row>
    
            <ion-row *ngIf="market_div">
              <ion-col size-lg>

                <swiper [config]="config" [effect]="'cube'">
                  <ng-template swiperSlide *ngFor="let market_news of market_news['articles']">
                    <div >

                      <mat-card class="ion-margin-bottom">
                        <mat-card-header>
                          <div mat-card-avatar target="_blank" class="example-header-image" style="background-image: url('{{ market_news.media }}');"></div>
                          <mat-card-title class="ion-text-start">{{ market_news.title }}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                          <mat-card-subtitle>
                            {{ market_news.summary }} <a href="{{ market_news.link }}">...</a> 
                          </mat-card-subtitle>
                          <p>
                            
                          </p>
                          <a href="{{ market_news.link }}">{{ market_news.link }}</a>
                        </mat-card-content>
                        <mat-divider inset></mat-divider>
                        <mat-card-actions>
                         
                          <button mat-button>{{ market_news.published_date | date }}</button>
                        </mat-card-actions>
                      </mat-card>
                  </div>
                  </ng-template>
                </swiper>
              </ion-col>
            </ion-row>
    
            <ion-row *ngIf="business_div">
              <ion-col size-lg>

                <swiper [config]="config" [effect]="'cube'">
                  <ng-template swiperSlide *ngFor="let business_news of business_news['articles']">
                    <div >
                      <mat-card class="ion-margin-bottom">
                        <mat-card-header>
                          <div mat-card-avatar target="_blank" class="example-header-image" style="background-image: url('{{ business_news.media }}');"></div>
                          <mat-card-title class="ion-text-start">{{ business_news.title }}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                          <mat-card-subtitle>
                            {{ business_news.summary }} <a href="{{ business_news.link }}">...</a> 
                          </mat-card-subtitle>
                          <p>
                            
                          </p>
                          <a href="{{ business_news.link }}">{{ business_news.link }}</a>
                        </mat-card-content>
                        <mat-divider inset></mat-divider>
                        <mat-card-actions>
                         
                          <button mat-button>{{ business_news.published_date | date }}</button>
                        </mat-card-actions>
                      </mat-card>
                  </div>
                  </ng-template>
                </swiper>


              </ion-col>
            </ion-row>
    
            <ion-row *ngIf="news_div">
              <ion-col size-lg>

                <swiper [config]="config" [effect]="'cube'">
                  <ng-template swiperSlide *ngFor="let news of news['articles']">
                    <div >
                      <mat-card class="ion-margin-bottom">
                        <mat-card-header>
                          <div mat-card-avatar target="_blank" class="example-header-image" style="background-image: url('{{ news.media }}');"></div>
                          <mat-card-title class="ion-text-start">{{ news.title }}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                          <mat-card-subtitle>
                            {{ news.summary }} <a href="{{ news.link }}">...</a> 
                          </mat-card-subtitle>
                          <p>
                            
                          </p>
                          <a href="{{ news.link }}">{{ news.link }}</a>
                        </mat-card-content>
                        <mat-divider inset></mat-divider>
                        <mat-card-actions>
                         
                          <button mat-button>{{ news.published_date | date }}</button>
                        </mat-card-actions>
                      </mat-card>
                  </div>
                  </ng-template>
                </swiper>

              </ion-col>
            </ion-row>
    
    
    
              <div>
                    <ion-refresher slot="fixed" (ionRefresh)="RefreshNews($event);">
                      <ion-refresher-content></ion-refresher-content>
                    </ion-refresher>         
              </div>
          </mat-tab>
        
          <mat-tab>
            <ng-template mat-tab-label>
              <i class="fal fa-analytics fa-lg ion-margin-end"></i> Stats
            </ng-template>
              <div>
                <ion-row>
                  <ion-col size-lg>
                    <ion-card>
                      <ion-card-header>
                        <ion-card-title>Kenya Stock Market (NSE20)</ion-card-title>
                      </ion-card-header>
    
                      <ion-card-content>
                        <p [ngClass]="{'limitTextHeight': isReadMore}">
                          The Nairobi Securities Exchange 20 Share Index NSE20 is a major stock market index which tracks the performance of 20 best performing companies listed on the Nairobi Securities Exchange. The companies are selected based on a weighted market performance for a 12 month period based on market capitalization, number of shares traded, number of deals and turnover. The NSE20 is a major stock market index which tracks the performance of large companies based in Kenya.
                        </p>
                        <button mat-button color="primary" type="button" (click)="showText()">{{ isReadMore ? 'Read More': 'Read Less' }}</button>
    
                        <swiper [config]="config">
                          <ng-template swiperSlide>
                            <mat-card class="ion-text-start">
                              <mat-card-title>Forecast</mat-card-title>
                              <img mat-card-image src="https://d3fy651gv2fhd3.cloudfront.net/charts/kenya-stock-market@2x.png?s=knsmidx&trend=2&forecast=te">
                            </mat-card>
                          </ng-template>
            
                          <ng-template swiperSlide>
                            <mat-card class="ion-text-start">
                              <mat-card-title>Stats</mat-card-title>
                              <img mat-card-image src="https://d3fy651gv2fhd3.cloudfront.net/charts/kenya-stock-market@2x.png?s=knsmidx&trend=2&trend=1&ds=1">
                            </mat-card>
                          </ng-template>
                        </swiper>
    
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ion-row>
          
                <ion-row>
                  <ion-col size-lg>
                    <ion-card>
                      <ion-card-header>
                        <ion-card-title>Kenya Government Bond 10y</ion-card-title>
                      </ion-card-header>
    
                      <ion-card-content>
                        <p [ngClass]="{'limitTextHeight': isReadMore}">
                          Generally, a government bond is issued by a national government and is denominated in the country`s own currency. Bonds issued by national governments in foreign currencies are normally referred to as sovereign bonds. The yield required by investors to loan funds to governments reflects inflation expectations and the likelihood that the debt will be repaid.
                        </p>
                        <button mat-button color="primary" type="button" (click)="showText()">{{ isReadMore ? 'Read More': 'Read Less' }}</button>
    
                        <swiper [config]="config">
                          <ng-template swiperSlide>
                            <mat-card class="ion-text-start">
                              <mat-card-title>Forecast</mat-card-title>
                              <img mat-card-image src="https://d3fy651gv2fhd3.cloudfront.net/charts/kenya-government-bond-yield@2x.png?s=kenyagovbon10y&type=spline&forecast=te">
                            </mat-card>
                          </ng-template>
            
                          <ng-template swiperSlide>
                            <mat-card class="ion-text-start">
                              <mat-card-title>Stats</mat-card-title>
                              <img mat-card-image src="https://d3fy651gv2fhd3.cloudfront.net/charts/kenya-government-bond-yield@2x.png?s=kenyagovbon10y&type=spline&trend=1&ds=1">
                            </mat-card>
                          </ng-template>
                        </swiper>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ion-row>
          
                <ion-row>
                  <ion-col size-lg>
    
                    <ion-card>
                      <ion-card-header>
                        <ion-card-title>The Kenyan Shilling</ion-card-title>
                      </ion-card-header>
    
                      <ion-card-content>
                        <p [ngClass]="{'limitTextHeight': isReadMore}">
                          The USDKES spot exchange rate specifies how much one currency, the USD, is currently worth in terms of the other, the KES. While the USDKES spot exchange rate is quoted and exchanged in the same day, the USDKES forward rate is quoted today but for delivery and payment on a specific future date.
                        </p>
                        <button mat-button color="primary" type="button" (click)="showText()">{{ isReadMore ? 'Read More': 'Read Less' }}</button>
    
                        <swiper [config]="config">
                          <ng-template swiperSlide>
                            <mat-card class="ion-text-start">
                              <mat-card-title>Forecast</mat-card-title>
                              <img mat-card-image src="https://d3fy651gv2fhd3.cloudfront.net/charts/kenya-currency@2x.png?s=usdkes&type=column&forecast=te">
                            </mat-card>
                          </ng-template>
            
                          <ng-template swiperSlide>
                            <mat-card class="ion-text-start">
                              <mat-card-title>Stats</mat-card-title>
                              <img mat-card-image src="https://d3fy651gv2fhd3.cloudfront.net/charts/kenya-currency@2x.png?s=usdkes&type=line&trend=1&ds=1">
                            </mat-card>
                          </ng-template>
                        </swiper>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ion-row>
          
          
                <ion-row>
                  <ion-col size-lg>
    
                    <ion-card>
                      <ion-card-header>
                        <ion-card-title>Government</ion-card-title>
                      </ion-card-header>
    
                      <ion-card-content>
                        <swiper [config]="config">
                          <ng-template swiperSlide>
                            <mat-card class="ion-text-start">
                              <mat-card-title>
                                Kenya Government Debt to GDP
                              </mat-card-title>
                              <mat-card-subtitle [ngClass]="{'limitTextHeight': isReadMore}">Generally, Government debt as a percent of GDP is used by investors to measure a country ability to make future payments on its debt, thus affecting the country borrowing costs and government bond yields.</mat-card-subtitle>
                              <button mat-button color="primary" type="button" (click)="showText()">{{ isReadMore ? 'Read More': 'Read Less' }}</button>
                              <img mat-card-image src="https://d3fy651gv2fhd3.cloudfront.net/charts/kenya-government-debt-to-gdp@2x.png?s=kendebt2gdp">
            
                              <mat-card-actions>
                                <small>Unit :  percent of GDP</small>
                              </mat-card-actions>
                            </mat-card>
                          </ng-template>
            
                          <ng-template swiperSlide>
                            <mat-card class="ion-text-start">
                              <mat-card-title>
                                Kenya Government Budget Value
                              </mat-card-title>
                              <mat-card-subtitle [ngClass]="{'limitTextHeight': isReadMore}">The government budget balance is the difference between government revenues and expenses. The budget is balanced when outlays equal to receipts, the country reports budget surplus when revenues are higher than expenses and deficit when expenses exceed the revenues.</mat-card-subtitle>
                              <button mat-button color="primary" type="button" (click)="showText()">{{ isReadMore ? 'Read More': 'Read Less' }}</button>
                              <img mat-card-image src="https://d3fy651gv2fhd3.cloudfront.net/charts/kenya-government-budget-value@2x.png?s=kenyagovbudval&type=line">
            
                              <mat-card-actions>
                                <small>Unit :  KES Million</small>
                              </mat-card-actions>
                            </mat-card>
                          </ng-template>
            
                          <ng-template swiperSlide>
                            <mat-card class="ion-text-start">
                              <mat-card-title>
                                Kenya Government Revenue
                              </mat-card-title>
                              <mat-card-subtitle [ngClass]="{'limitTextHeight': isReadMore}">Government Revenues refer to all receipts the government gets, including taxes, custom duties, revenue from state-owned enterprises, capital revenues and foreign aid. Government Revenues are part of government budget balance calculation.</mat-card-subtitle>
                              <button mat-button color="primary" type="button" (click)="showText()">{{ isReadMore ? 'Read More': 'Read Less' }}</button>
                              <img mat-card-image src="https://d3fy651gv2fhd3.cloudfront.net/charts/kenya-government-revenues@2x.png?s=kenyagovrev">
            
                              <mat-card-actions>
                                <small>Unit :  KES Billion</small>
                              </mat-card-actions>
                            </mat-card>
                          </ng-template>
            
                          <ng-template swiperSlide>
                            <mat-card class="ion-text-start">
                              <mat-card-title>
                                Kenya Government Spending
                              </mat-card-title>
                              <mat-card-subtitle [ngClass]="{'limitTextHeight': isReadMore}">Government Spending refers to public expenditure on goods and services and is a major component of the GDP. Government spending policies like setting up budget targets, adjusting taxation, increasing public expenditure and public works are very effective tools in influencing economic growth.</mat-card-subtitle>
                              <button mat-button color="primary" type="button" (click)="showText()">{{ isReadMore ? 'Read More': 'Read Less' }}</button>
                              <img mat-card-image src="https://d3fy651gv2fhd3.cloudfront.net/charts/kenya-government-spending@2x.png?s=kenyagovspe">
            
                              <mat-card-actions>
                                <small>Unit :  KES Million</small>
                              </mat-card-actions>
                            </mat-card>
                          </ng-template>
            
                          <ng-template swiperSlide>
                            <mat-card class="ion-text-start">
                              <mat-card-title>
                                Kenya Government Debt
                              </mat-card-title>
                              <img mat-card-image src="https://d3fy651gv2fhd3.cloudfront.net/charts/kenya-government-debt@2x.png?s=kenyagovdeb">
            
                              <mat-card-actions>
                                <small>Unit :  KES Billion</small>
                              </mat-card-actions>
                            </mat-card>
                          </ng-template>
            
                        </swiper>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ion-row>
          
                <ion-row>
                  <ion-col size-lg>
                    <mat-card>
                      <mat-card-header>
                        <mat-card-title>Kenya Listed Companies Trend</mat-card-title>
                      </mat-card-header>
                      <img mat-card-image src="https://www.theglobaleconomy.com/graph_country.php?p=0&c=Kenya&i=Listed_companies">
                      <mat-card-content>
                        <p [ngClass]="{'limitTextHeight': isReadMore}">
                          The number of listed companies on the stock exchange in Kenya is an indicator of the development of the stock market. A higher number means that more companies use equity financing in their business
                        </p>
                        <button mat-button color="primary" type="button" (click)="showText()">{{ isReadMore ? 'Read More': 'Read Less' }}</button>
                      </mat-card-content>
                    </mat-card>
                  </ion-col>
                </ion-row>
          
              <ion-row>
                <ion-col size-lg>
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title>Live Markets</mat-card-title>
                    </mat-card-header>
                    <iframe src='https://tickers.mystocks.co.ke/ticker/RMWX$' style="width: 100%;" height="450px"  frameborder='0' scrolling='yes'></iframe>
                  </mat-card>
                  
                </ion-col>
              </ion-row>
              </div>
          </mat-tab>
        </mat-tab-group>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title><i class="fas fa-lightbulb-on"></i> How to Invest</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <swiper [effect]="'flip'"
            [grabCursor]="true"
            [centeredSlides]="true"
            [slidesPerView]="'auto'"
            [pagination]="true">
              <ng-template swiperSlide *ngFor="let how_to_invest of how_to_invest">
                <div >
                        <ion-card-title>{{ how_to_invest.data.title }}</ion-card-title>
                        <ion-card-subtitle><i>{{ how_to_invest.data.type }}</i></ion-card-subtitle>
                          <ion-row>
                            <ion-col>
                              <p [ngClass]="{'limitTextHeight': isReadMore}">{{ how_to_invest.data.description }} </p>
                            </ion-col>
                          </ion-row>
                            <mat-card-actions>
                              <button mat-button color="primary" type="button" (click)="showText()">{{ isReadMore ? 'Read More': 'Read Less' }}</button>
                            </mat-card-actions>
              </div>
              </ng-template>
            </swiper>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title><i class="fal fa-landmark fa-lg"></i> Market Participants</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="12">
                <button mat-icon-button [matMenuTriggerFor]="menu" routerLink="/market-intermediaries">
                  <ion-label><i class="fal fa-file-certificate fa-lg ion-margin-end"></i>Approved Institutions</ion-label>
                </button>
              </ion-col>

              <ion-col size="12">
                <button mat-icon-button routerLink="/licencees">
                  <ion-label><i class="fal fa-city fa-lg ion-margin-end"></i>Market Intermediaries</ion-label>
                </button>
              </ion-col>

            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title><i class="fas fa-sitemap"></i> Available Regulated Products</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <swiper [effect]="'cube'"
            [grabCursor]="true"
            [centeredSlides]="true"
            [slidesPerView]="'auto'"
            [pagination]="true">
              <ng-template swiperSlide *ngFor="let investment_products of investment_products">
                <div >
                        <ion-card-title>{{ investment_products.data.product_name }}</ion-card-title>
                          <ion-row>
                            <ion-col>
                              <p [ngClass]="{'limitTextHeight': isReadMore}">{{ investment_products.data.product_details }} </p>
                            </ion-col>
                          </ion-row>
                            <mat-card-actions>
                              <button mat-button color="primary" type="button" (click)="showText()">{{ isReadMore ? 'Read More': 'Read Less' }}</button>
                            </mat-card-actions>
              </div>
              </ng-template>
            </swiper>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title><i class="fal fa-books fa-lg"></i> Education Materials</ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <ion-row>
              <ion-col size="6">
                <button mat-icon-button [matMenuTriggerFor]="menu" (click)="LoadBooks()">
                  <ion-label><i class="fal fa-book fa-lg ion-margin-end"></i>Books</ion-label>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item *ngFor="let books of books">
                    <ion-item >
                      <a mat-button href="{{ FILE_URL+ books.data.item_file}}" download><i class="fas fa-file-alt"></i>  {{ books.data.item_name }} </a>
                   </ion-item>
                  </button>

                </mat-menu>
              </ion-col>

              <ion-col size="6">
                <button mat-icon-button [matMenuTriggerFor]="menu1" aria-label="Example icon-button with a menu">
                  <ion-label><i class="fal fa-book fa-lg ion-margin-end"></i>Saving</ion-label>
                </button>
                <mat-menu #menu1="matMenu">
                  <button mat-menu-item routerLink="/saving-tool">
                    <mat-icon>wallet</mat-icon>
                    <span>Saving Tool</span>
                  </button>
                </mat-menu>
              </ion-col>

            </ion-row>


          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


  </ion-grid>

  <!-- fab placed in the center of the content with a list on each side -->
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button color="light">
    <ion-icon name="call"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top" (click)="tooltip.toggle()" #tooltip="matTooltip"  matTooltip="https://www.cma.or.ke/">
    <ion-fab-button href="https://www.cma.or.ke/"><i class="fad fa-globe fa-2x"></i></ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="start" (click)="tooltip.toggle()" #tooltip="matTooltip"  matTooltip="https://web.facebook.com/cmakenya">
    <ion-fab-button href="https://web.facebook.com/cmakenya"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="end" (click)="tooltip.toggle()" #tooltip="matTooltip"  matTooltip="https://twitter.com/cmakenya/">
    <ion-fab-button href="https://twitter.com/cmakenya/"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>
</ion-content>
