<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        
        <ion-list id="inbox-list">
          <ion-card class="ion-text-center" *ngIf="authState == null">
            <ion-list-header><img src="../assets/cma-logos/72.png" class="ion-text-center logo-home"></ion-list-header>
            <h3 style="margin-bottom: 0%;font-family: Helvetica;"> Capital Markets Authority</h3>

            <hr class="hr-home">
            <ion-note><i><small>"Promoting the Integrity & Growth of the Capital Markets</small></i>"</ion-note>
          </ion-card>

          <ion-card class="ion-text-center" *ngIf="authState">
            <ion-list-header>
              <div style="margin-left: auto; margin-right: auto;">
                <i class="fad fa-user-circle fa-3x ion-margin-top ion-text-center logo-home" style="margin-top: 10px; margin-bottom: 10px;"></i>
              </div>
            </ion-list-header>
            <h3 style="margin-bottom: 0%;font-family: Helvetica;">Hi {{ authState.displayName }} !</h3>

            <hr class="hr-home">
            <ion-button shape="round" expand="full"  ion-activatable ripple-parent routerLink="/myaccount">
              My Account
            </ion-button>
          </ion-card>



          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected" detail>
              <ion-icon  style="color: white;" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-outline'"></ion-icon>
              <ion-label class="nav-home-labels">{{ p.title }}</ion-label>
            </ion-item>

          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
