<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> <i class="fas fa-key-skeleton ion-margin-right"></i> Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <mat-card>
          <mat-card-content>
            <form [formGroup]="ForgotPasswordForm">    

              <ion-row>
                <ion-col size-lg>
                  <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email" #email required minlength="5" maxlength="50">
                  </mat-form-field>
              
                  <div *ngIf="ForgotPasswordFormControls.email.invalid && (ForgotPasswordFormControls.email.dirty || ForgotPasswordFormControls.email.touched)">
              
                    <small *ngIf="ForgotPasswordFormControls.email.errors.required" class="danger-color">
                        Please enter your email
                    </small>
                    <small *ngIf="ForgotPasswordFormControls.email.errors.email" class="danger-color">
                      Please enter a valid email
                    </small>
                  </div>
                </ion-col>
              </ion-row>
          
          
              <ion-row>
                <ion-col> 
                <ion-button shape="round" type="submit"  expand="block" (click)="recover(email)" [disabled]="!ForgotPasswordForm.valid">Reset Password</ion-button>
                </ion-col>
              </ion-row>
            </form>
          
            <ion-row class="ion-margin-top ion-text-center">
              <ion-col> 
                <small routerLink="/login">Back to Login</small>
              </ion-col>
            </ion-row>
          </mat-card-content>
        </mat-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>